*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #57a8df, #9b59b6);
}
.container{
    width: 95%;
    /* min-width: 400px; */
    /* position: absolute;
    transform: translate(-50%,-50%); */
    /* top: 50%;
    left: 50%; */
    border-radius: 5px;
    background-color: #fff;
}
.faq-link{
    font-size: 1rem;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.home-link{
    font-size: 1rem;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.home-link:hover{
    color:#8a36ab;
}
.faq-icon{
    color: #8a36ab;
    margin-right: 3px;
}
.home-icon{
    margin-right: 3px;
}

.heading{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    /* box-shadow: 0 15px 25px rgba(0,0,50,0.2); */
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    /* box-shadow: 0 15px 25px rgba(0,0,50,0.2); */
}
.wrapper:hover{
    background-color: #f6f6f6;
}
.toggle,
.content{
    font-family: "Poppins",sans-serif;
}
.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    /* color: #111130; */
    color: #333;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}
.content{
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

@media (max-width: 667px){
    
      .container{
        align-items: left;
        justify-content: left;
        margin: 0;
        width: 90vw; 
        
      }
      .wrapper{
        align-items: left;
        justify-content: left;
        margin: 0;
        width: 90vw;
      }
      .heading{
        
        align-self: center;
        padding: 15px 10px;
        font-size: 12px;

      }
}
