@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-transform: sentence;
    transition: all .2s linear;
}

h3{
    display: inline-block;
    /* margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
     */
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #57a8df, #9b59b6);
}

.navigation{
    padding: 10px 0 20px 0;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #333;
}
.card-icon{
    margin-right: 3px;
}

.upi-icon{
    margin-right: 3px;
    color:#8a36ab;
    
}

.home-icon{
    margin-right: 3px;
}

.upi-link{
    font-size: 1rem;
    font-weight: bold;
    display: inline;
}

.card-link{
    font-size: 1rem;
}

.card-link:hover{
    color:#8a36ab;
}

.home-link{
    font-size: 1rem;
    
}

.home-link:hover{
    color:#8a36ab;
}

.container
{
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.08);
}

.my-row{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 10px 15px 10px;
}



p{
    padding: 15px 5px 10px 5px
}

.col{
    flex: 1 1 250px;
    padding: 15px 10px 10px 15px;
}

p{
    width: 80%;
}

span{
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.inputbox{
    margin: 15px 0;
}

input{
    width: 80%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-transform: none;
    border-radius: 5px;
}

input:focus{
    border: 2px solid;
    border-color: #9b59b6;
}

.payment-btn{
    cursor: pointer;
    margin-bottom: 10px;
}

.qrcode{
    width: 40%;
    margin-bottom: 10px;
}